body {}

.element-container {}

.element-text {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: large;
}

.element-input {
    width: 100%;
    font-size: large;
    height: 30px;
}

.element-checkbox {}